.btn {
    /* BG: */
  background: #46CE92;
  border-radius: 5px;
  color: #FFFFFF;
  letter-spacing: 1.67px;
  text-decoration: none;
  padding: 8px 12px ;
  text-transform: uppercase;
  font-size: 14px;
}

.btn i {
  font-size: 14px !important;
  color: white;
  margin: 0px;
}

#email {
  text-decoration: underline;
  color: white;
}
