
.navbar {
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar  .nav-list {
  text-decoration: none;
  text-transform: uppercase;
  color: #B9B9B9;
}

